 <div class="footer-background">
<div class="footer">
        <div class="footer-info">&copy; 2023 
          Memos 
      </div>
      <div class="githuab">    <a href="https://0tz.top/sitemap.xml" target="_blank" ><img class="header-rss" src="./img/rss.svg" alt="RSS" /></a>
    <a href="mailto:jkjoy@126.com"><img class="header-rss" src="./img/email.svg" alt="E-mail" /></a></div>
    </div>
<div class="gotop_hide">
  <div class="gotop" onclick="smoothScrollTop()" id="gotop"><img src="./img/up.svg"  ></div>
</div>
<script>
  window.addEventListener('load', function() {
  document.body.classList.add('loaded');
});
  </script> 

  </div>