  <div id="menu-main-mobile" class="menu-main-mobile">
    <ul class="menu">
                <li >
                    <a href="/">首页</a>
                </li>   
                 <li >
                    <a href="/list.html">清单</a>
                </li>   
                <li >
                    <a href="/photo.html">照片</a>
                </li>
                <li >
                    <a href="/about.html">关于</a>
                </li>
    </ul>
</div>
<div class="header-background">
  <div class='header'>
  <a href="/" class="header-logo"><img src="/img/logo.png" alt="qq" /></a>
  <a href="/" class="header-title">Memos</a>
  <div class="menu-main"> 
    <div class="header-menu">
      <a href="/">首页</a>
    </div>
        <div class="header-menu">
      <a href="/list.html">清单</a>
    </div>
            <div class="header-menu">
      <a href="/photo.html">照片</a>
    </div>
    <div class="header-menu">
      <a href="/about.html">关于</a>
    </div>
        <a href="https://jiong.us/@sun" target="_blank"><i class="fa-brands fa-mastodon"></i></a>
        <a href="https://images.loliko.cn/memosee/BFF6456E-DF75-4084-971D-6C515F1F6CD9.jpg" target="_blank"><i class="fa-brands fa-qq"></i></a>
        <a href="https://github.com/jkjoy" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://jiong.us/@sun" target="_blank"><i class="fa-brands fa-weixin"></i></a>
    </div>
    <div id="toggle-menu-main-mobile" class="hamburger-trigger">
    <button class="hamburger">Menu</button>
    </div>
  </div>
</div>
